.header-area {
    display: flex;
    margin-left: 5%;
    margin-right: 10%;
}

.header-area img {
    width: 70%;
    float: right;
}

section.section-padding {
    padding: 80px 0;
}

.header-area h2 {
    font-size: 60px;
    font-weight: 700;
}

.header-area h2 span {
    color: orange;
}

.boxed-btn {
    padding: 10px 30px;
    background: orange;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    /* text-transform: uppercase; */
    border-radius: 30px;
    transition: .3s;
}

.about-area {
    display: flex;
    background-image: url(images/shapes/7.png);
}

.frame-img img {
    width: 50%;
}

.about-detail h2 {
    font-size: 40px;
    /* display: table; */
}

.about-detail p {
    font-size: 18px;
}

.about-detail {
    display: table;
}
.about-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.frame-img img {
    padding-left: 20%;
    height: 100%;
}
.recipe-items {
    display: flex;
    /* max-width: 40%; */
    margin-left: 3%;
    margin-right: 3%;
}

.single-recipe-item {
    width: 50%;
}

.single-recipe-item img {
    max-height: 400px;
    width: 100%;
    border-radius: 20px;
}

.single-recipe-item {
    box-shadow: 0 0 10px #555;
    margin: 0 2%;
    padding: 20px;
    border-radius: 15px;
}

.recipe-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.recipe-title h1 {
    font-size: 43px;
}

.single-recipe-item h2 {
    font-weight: 700;
    font-size: 28px;
}
.single-recipe-item:hover h2 {
    color: orange;
}
.social-followers {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 10px #555;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.social-followers div {
    width: 30%;
    text-align: center;
}

.social-followers div h1 {
    font-weight: 700;
    font-size: 40px;
}
footer {
    text-align: center;
    background: black;
    color: #fff;
    padding-bottom: 60px;
}

footer h3 {
    color: #999;
    font-size: 28px;
    padding-top: 30px;
}

footer h3 span {
    color: orange;
}

